html,body {
  font-family: 'Raleway', sans-serif;
  padding: 0px;
  font-size: 17px;
  background: #222;
  color: #aaa
}


h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 25px;
}


header {
  height: 64px;
  overflow: auto;
}

nav#navbar {
  border-bottom: 2px solid #111;
  box-shadow: 0 2px #333;
  background-color: #222;
}

div .col-lg-4 a {
  color: white;
  text-decoration: none;
}

div.ruta {
    background-color: #8080801c;
    border: 5px solid #ffffff;
    padding-top: 90px;
    padding-bottom: 40px;
    margin: 0px;
    text-align:center;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

div.ruta h2 {
  background-color: #000000cf;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 5px;
  margin: 0;
}
/*
div.bild:hover {
  opacity: 0.4;
}
*/
div.bild {
  opacity: 1;
  text-shadow: 2px 2px #000000;
  width: 22vw;
  height: 18vw;
  background-size: cover;
}

div.ruta-kottkonsumtion {
  background-image: url("../media/ko.jpg");
  background-position: left;
  border-color: #AD1A28;

}

div.ruta-narkotika {
  background-image: url("../media/drugs.jpg");
  border-color: #D37A39;

}

div.ruta-utslapp {
  background-image: url("../media/fabrik1.jpg");
  background-position: top center;
  border-color: #B84D93;

}

div.ruta a {
  color: white;
}

div.ruta a:hover {
  text-decoration: none;
}

/*
div.ruta:hover {
    background-color: #80808000;
    border: 5px solid #ffffffc2;
}
*/
div.filmigen {
  position: relative;
  width: 100%;
  margin-bottom: 70px;
  top: 0px;
  text-align: center
}

div.filmigen a {
  color: grey;
  text-decoration: none;
}

div.hoppafilm {
  text-align: center
}

div.hoppafilm a {
  color: grey;
  text-decoration: none;
}

div.copyright {
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0px;
  color: grey;
  background-color: #222;
  border-top: 2px solid #333;
  box-shadow: 0 -2px #111;
  margin-top: 50px;
  padding: 20px;
  font-size: 12px;

}

.video {
    background-color: black;
    z-index: 9999;
    position: absolute;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
    margin-top: -64px;
}

ul {
  list-style-type: none;
}

div .kontakt ul {
  padding: 0;
  margin-top: 50px;
}

div .burg {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

div.row-ingress {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

div.row-bottom {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

div .kontakt li {
  float: left;
  margin: 2.5%;
  width: 20%;
  text-align: center;
}

div .kontakt h2 {
  text-align: center;
}


p.artikeltext {
    text-align: left;
}

div.share-buttons {
  margin: 0;

}

<<<<<<< HEAD
div.hoverstart {
  display: none;
  text-align: center;
  font-size: 22px;
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
}

div.ruta:hover > div.hoverstart {
  display: block;
}

div.ruta:hover > h2 {
  display: none;
}
=======
p.statfork {
    font-size:70%;
    text-align:left;
    font-style:italic;
}
>>>>>>> a4a20fa38d19fb64390c7bd715f02906877ea2da
